table,th,td{
    border: 1px solid black;
    text-align: center;
}

input{
    border: none;
}

input:focus-visible{
    outline: none;
}

#result{
    border: 2px solid black;
    margin: 2rem 10rem;
}

#history-search{
    margin: 2rem 10rem;
}

/* reponsive */
@media only screen and (max-width:600px) {
    .w-75{
        width: 100% !important;
    }
    #result{
        margin: 2rem 2rem;
    }
    #history-search{
        margin: 2rem 2rem;
    }
}