.cursor{
    cursor: pointer;
}

.block{
    display: block !important;
}

table,th,td{
    border: 1px solid black;
    text-align: center;
}

input{
    border: none;
}

input:focus-visible{
    outline: none;
}

#result{
    border: 2px solid black;
    margin: 2rem 10rem;
}

#history-search{
    margin: 2rem 10rem;
}

#select{
    margin: 1rem 10rem;
}

#TBHK{
    display: none;
}

#TBTL{
    display: none;
}

#tab{
    background-color: #f1f1f1;
}

.active{
    background-color: #ccc;
}

.tab-btn:hover{
    background-color: #ddd;
}

#btnAddColumn{
    display: none;
}

#btnAddColumnTL{
    display: none;
}

#history-area{
    display: none;
}

#history-area-HK{
    display: none;
}

#history-area-TL{
    display: none;
}
/* reponsive */
@media only screen and (max-width:600px) {
    .w-75{
        width: 100% !important;
    }
    #result{
        margin: 2rem 2rem;
    }
    #history-search{
        margin: 2rem 2rem;
    }
}